header {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 0 2px 0px rgba(0, 0,0, .5);
    display: flex;
    justify-content: space-between;
}
  
    
header .logo img {
    width: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

